<div class="music-details-container">
  <div class="music-poster">
    <img src="https://www.shutterstock.com/shutterstock/photos/1148675771/display_1500/stock-vector-musical-poster-for-your-design-music-elements-design-for-card-invitation-flyer-music-background-1148675771.jpg" alt="Music Poster" class="img-fluid">
  </div>
  <div class="music-info">
    <h3>Blinding Lights</h3>
    <h5>The Weeknd</h5>
    <div class="text-muted">After Hours</div>
    <div class="text-muted">2020 • Synthwave, Pop</div>
  </div>
</div>
